.reactWrap {
  min-height: 70vh;
}

.reactForm {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 1.8rem;
  gap: .8rem;
}

.todoInput {
  padding: 0.375rem 0.75rem;
  border: 1px solid green;
}

.todoInput:focus { 
  outline: none;
  border-color: green;
  -webkit-box-shadow: 0 0 5px green;
  box-shadow: 0 0 5px green;
}

.todoBtn {
  text-transform: uppercase;
  background: green;
  color: rgb(1, 31, 1);
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid green;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.todoBtn:hover {
  color: rgb(1, 83, 1);
  background: rgb(111, 182, 111);
  border-color: rgb(1, 83, 1);
}